<template>
  <div class="child">
    <slot :info="info"></slot>

  <a href="https://th.wallhaven.cc/orig/3z/3zrodd.jpg" download="1.jpg">111</a>
  </div>
</template>

<script>
export default {
  name: 'Child',
  data() {
    return {
      info: '子组件数据',
      opened: false
    }
  },

  methods: {
    controlShowElement() {
      this.opened = !this.opened
      
      console.log(this.$refs.ele.getBoundingClientRect())
    }
  }
}
</script>

<style scoped>
  .ele {
    width: 90px;
    height: 90px;
    border: solid 1px #000;
    margin-bottom: 10px;
  }
  .opened {
    display: block;
  }
</style>
