<template>
  <button @click="handleClick(infoB)">触发事件</button>
</template>

<script>
export default {
  name: 'ComponentB',
  data() {
    return {
      infoB: 'B组件传递来的数据'
    }
  },
  methods: {
    handleClick(data) {
      this.$bus.$emit('customFn', data)
    }
  }
}
</script>

<style scoped>

</style>
