<!-- CompomentA.vue -->
<template>
  <div>
    <p>{{ countA }}</p>
    <button @click="changeCountA">更改countA</button>
    <button @click="changeCountB">更改countB</button>
    <button @click="notChangeA">countA相同赋值</button>
    <p>{{ message }}</p>
  </div>

</template>

<script>
export default {
  name: 'ComponentA',
  data() {
    return {
      countA: 0,
      countB: 0,
      message: ''
    }
  },
  methods: {
    changeCountA() {
      this.countA += 1
    },
    changeCountB() {
      this.countB += 1
    },
    notChangeA() {
      this.countA = this.countA
    }
  },
  updated() {
    console.log('页面发生更新!!!')
  }
}
</script>

<style scoped>
  div {
    margin-top: 60px;
  }
</style>
