<template>
  <div class="father">
    <!-- <router-view></router-view></router-view> -->
    <Child>
      <template #default="slotData">
        <p>{{ slotData.info }}</p>
      </template>
    </Child>
  </div>
</template>

<script>
import Child from './components/Child.vue'
import ComponentA from './components/ComponentA.vue'
import ComponentB from './components/ComponentB.vue'

export default {
  name: 'App',
  components: {
    Child,
    ComponentA,
    ComponentB,

  },
  data() {
    return {
      info: '父组件内容'
    }
  },
  methods: {
    fn() {
      this.info = '使用App传递过来的方法'
    }
  },

}
</script>

<style>

</style>
